.DS_Store
./css/about.css
./js/about.js
about.html
.Rhistory
.Rproj.user/
.quarto/
qscribe/
shared/
qfey.github.io.Rproj
qscribe/*
qscribe/*
qscribe-book/*
qscribe/*
venv/
__pycache__/
qbits/*
qbits-notes/*